<div class="jumbotron home-page-jumbotron">
    <h1>Student System</h1>
    <p class="lead">
        <em>It is practically impossible to teach good programming style to students that have had prior exposure to BASIC. As potential programmers, they are mentally mutilated beyond hope of regeneration.</em> - E. W. Dijkstra
    </p>
</div>