@model IList<EasyPTC.Web.ViewModels.TextAds.TextAdvertisementViewModel>

@{
    ViewBag.Title = "Text Ads";
}

@functions{
private const int ItemsOnRow = 4;
}

@{
    var tickets = Model.Count / ItemsOnRow == 0 ? Model.Count : Model.Count / ItemsOnRow;
}

<h1>Text ads</h1>
<hr />

@for (int i = 0; i < tickets; i++)
{
<div class="row">
    @for (int j = 0; j < ItemsOnRow; j++)
    {
        var currentAd = ItemsOnRow * i + j;
        if (currentAd == Model.Count)
        {
            break;
        }

        <div class="col-md-3">
            <h3 style="word-wrap: break-word">@Model[currentAd].Name</h3>
            <div style="word-wrap: break-word">
                <strong>Content: </strong> @Model[currentAd].Content
            </div>
        </div>
    }
</div>
}
