extends ../shared/layout

block main-content
    table.table.table-bordered
        tr
            th URL
            th Private
            th File name
        each file in files
            tr
                td
                    a(href="/files/download/#{file.url}") http://mysite.com/files/download/#{file.url}
                td #{file.isPrivate ? 'Yes' : 'No'}
                td #{file.fileName}
