html {
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 97%;
    height: 97%;
    background-color: #212121;
}

section {
    min-height: 100%;
    height: 100%;
    width: 213px;
    max-width: 213px;
    max-height: 815px;
    margin-top: 5px;
    padding: 10px 30px 10px 15px;
    text-align: left;
    overflow-x: auto;
    overflow-y: overlay;
}

section header {
    position: fixed;
    left: 300px;
    font-family: Consolas;
    font-weight: normal;
    font-size: 1.7em;
    color: white;
}

header h1 {
    margin-top: 20px;
}

input[type=radio] {
    display: none;
}
            
label > img {
    width: 200px;
    padding: 3px;
    margin: 3px;
    cursor: pointer; 
}
            
.larger {
    position: absolute;
    top: 115px;
    left: 300px;
    width: 848px;
}
            
.larger img {
    visibility: hidden;
    width: 848px;
    opacity: 0;
}

input[type=radio]:checked + span img {
    visibility: visible;
    opacity: 1;    
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.larger a {
    visibility: hidden;
    opacity: 0;
    display: block;
    position: absolute;
    width: 848px;
    margin-top: 5px;
    text-align: center;
    color: white;
}
            
input[type=radio]:checked + span a {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}