@model string
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(m => m)
    </div>
    <div class="col-md-5">
        @Html.TextAreaFor(m => m, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
    </div>
</div>
<br />