@model TicketingSystem.Web.ViewModels.Comments.CommentViewModel

<div class="row" style="word-wrap: break-word">
    <div class="col-md-8">
        <strong>@Model.AuthorName: </strong> @Model.Content
    </div>
</div>

<br />
