if (errorMessage)
    .row
        .col-md-3
        .col-md-6
            .alert.alert-danger.alert-dismissible(role="alert")
                button.close(type="button", data-dismiss="alert")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                span Oh snap! #{errorMessage}