div.panel-footer.navbar-fixed-bottom
    footer.text-center
        a(href="http://telerikacademy.com/" target="_blank") Telerik Academy
        br
        a(href="#") JavaScript End-to-End - Exam @ 2014
