doctype
html
    head
        title JavaScript - End-to-End Exam
        include styles
    body
        include navigation

        .container
            include error-message
            block main-content

        include footer
        include scripts