script(src="/lib/jquery-2.1.1/jquery.min.js")
script(src="/lib/bootstrap-3.2.0/js/bootstrap.min.js")
script(src="/lib/bootstrap-3.2.0/js/bootstrap-select.js")
script(src="/scripts/join.js")

block page-scripts