* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

div#wrapper {
    width: 960px;
    max-width: 960px;

    margin: 25px 0 0 25px;  
}

div#wrapper form {
    width: 380px;

    padding: 15px;
    text-align: right;

    color: #FFFFFF;
    font-family: 'Cambria', 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
    font-size: 16px;

    border: 1px solid #444444;
    border-radius: 15px;

    background: #ebff5b;
    background: -moz-linear-gradient(top, #ebff5b 0%, #444444 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebff5b), color-stop(100%,#444444));
    background: -webkit-linear-gradient(top, #ebff5b 0%,#444444 100%);
    background: -o-linear-gradient(top, #ebff5b 0%,#444444 100%);
    background: -ms-linear-gradient(top, #ebff5b 0%,#444444 100%);
    background: linear-gradient(to bottom, #ebff5b 0%,#444444 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebff5b', endColorstr='#444444',GradientType=0 );
}

div#wrapper form fieldset {
    padding: 10px 15px 0px 15px;

    border: 3px solid #555555;
    border-radius: 5px;
}

div#wrapper form fieldset:last-of-type {
    margin-bottom: 10px;
}

div#wrapper form fieldset legend {
    padding: 0 15px;

    font-size: 21px;
    font-style: italic;
    font-weight: bold;
}

div#wrapper form fieldset input {
    width: 149px;
    height: 16px;
    margin-bottom: 5px;
    padding: 5px 15px;

    color: white;
    font-size: 13px;
    font-family: sans-serif;

    border: 2px solid #444444;
    border-radius: 5px;

    background: #e8fc5b;
    background: -moz-linear-gradient(top, #e8fc5b 0%, #474744 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8fc5b), color-stop(100%,#474744));
    background: -webkit-linear-gradient(top, #e8fc5b 0%,#474744 100%);
    background: -o-linear-gradient(top, #e8fc5b 0%,#474744 100%);
    background: -ms-linear-gradient(top, #e8fc5b 0%,#474744 100%);
    background: linear-gradient(to bottom, #e8fc5b 0%,#474744 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8fc5b', endColorstr='#474744',GradientType=0 );
}

div#wrapper form fieldset input#tb-age {
    width: 35px;
    padding: 5px;

    color: white;
}

div#wrapper form input[type=radio] {
    display: none;
}

div#wrapper form input[type=radio]:checked + label {
    font-size: 1.1em;
    font-weight: bold;
}

div#wrapper form button, div#wrapper form input[type=reset] {
    height: 34px;
    margin-top: 15px;
    padding: 0 15px;

    color: #333333;
    font-size: 19px;
    font-family: sans-serif;

    border-bottom: 1px solid #000000;
    border-radius: 5px;

    background: #e3fd28;
    background: -moz-linear-gradient(top, #e3fd28 0%, #464644 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3fd28), color-stop(100%,#464644));
    background: -webkit-linear-gradient(top, #e3fd28 0%,#464644 100%);
    background: -o-linear-gradient(top, #e3fd28 0%,#464644 100%);
    background: -ms-linear-gradient(top, #e3fd28 0%,#464644 100%);
    background: linear-gradient(to bottom, #e3fd28 0%,#464644 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3fd28', endColorstr='#464644',GradientType=0 );
}

div#wrapper form button:hover, div#wrapper form input[type=reset]:hover {
    background: #F1FF8E;
}