<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrowdChat.Data.ConnectionStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CrowdChat.Data.ConnectionStrings>
            <setting name="MongoDbCloudServer" serializeAs="String">
                <value>mongodb://admin:telerik@ds035280.mongolab.com:35280/crowdchat</value>
            </setting>
            <setting name="MongoDbDefaultDatabase" serializeAs="String">
                <value>crowdchat</value>
            </setting>
            <setting name="MongoDbLocalServer" serializeAs="String">
                <value>mongodb://localhost</value>
            </setting>
        </CrowdChat.Data.ConnectionStrings>
    </userSettings>
</configuration>