extends ../shared/layout

block main-content
    form(method="post")
        label(for="username") Username
        input(id="username" class="form-control" type="text" name="username" placeholder="Username")
        br
        label(for="password") Password
        input(id="password" class="form-control" type="password" name="password" placeholder="Password")
        br
        label(for="confirm-password") Confirm Password
        input(id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Confirm password")
        br
        input(type="submit" class="btn btn-lg" value="Register")