ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul {
    padding: 5px 0 5px 0;
    border-radius: 10px;
}

ul.sidebar {
    width: 215px;

    background: #d29bff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyOWJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OTc3ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d29bff 0%, #8977ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d29bff), color-stop(100%,#8977ff));
    background: -webkit-linear-gradient(top,  #d29bff 0%,#8977ff 100%);
    background: -o-linear-gradient(top,  #d29bff 0%,#8977ff 100%);
    background: -ms-linear-gradient(top,  #d29bff 0%,#8977ff 100%);
    background: linear-gradient(to bottom,  #d29bff 0%,#8977ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d29bff', endColorstr='#8977ff',GradientType=0 );
}

ul.sidebar li {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/* Anchor - Styles */

li a {
    display: block;
    padding-top: 7px;
    padding-bottom: 6px;

    border-bottom: 1px solid #9D00FF;

    color: black;
    font-family: 'Arial', 'DejaVu Sans', 'Liberation Sans', 'Freesans, sans-serif';
    font-size: 20px;
    text-decoration: none;
}

ul > li:last-of-type > a {
    border-bottom: none;
}

ul li a:hover {
    margin-bottom: -1px;

    border: 1px solid #9C04FC;
    border-radius: 5px;
}

ul > li > ul a {
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Nested lists - Styles*/

ul li:hover > ul {
    display: inline-block;
}

ul > li > ul {
    display: none;
    position: absolute;
    left: 214px;
    width: 207px;

    margin-top: -42px;
    padding-left: 28px; 

    background-color: #B5AAFF;
}

ul.sidebar > li > ul > li {
    padding-left: 0;
}

ul > li > ul li:first-of-type {
    list-style-image: url('../images/arrow.png');
}