* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
    display: inline-block;

    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

#wrapper {
    position: relative;
    width: 1300px;
    margin: 0 auto;
}

#carousel-container {
    padding-top: 30px;
    margin: 0 auto;
    overflow: hidden;
        width: 908px;
    min-width: 908px;
    max-width: 908px;
}

#carousel-innercontainer {
    height: 225px;
    max-height: 225px;
        width: 3000px;
    min-width: 3000px;
    max-width: 3000px;
}

button {
    position: absolute;
    top: 120px;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

#previousButton {
    left: 90px;
    background: url(../images/previous.png);
}

#nextButton {
    right: 90px;
    background: url(../images/next.png);
}