<div class="jumbotron home-page-jumbotron">
    <h1>Bug Logger System</h1>
    <p class="lead">
        <em>A computer lets you make more mistakes faster than any invention in human history–with the possible exceptions of handguns and tequila.</em> - Mitch Radcliffe
    </p>
</div>