nav ul {
    text-align: center;
    padding: 3px;
    margin: 0;
}

li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}

nav li {
    font-family: Arial;
    font-weight: bold;
    font-size: 1.1em;
    color: #00AEF0;
}

nav li a {
    color: #00AEF0;
}

nav hr {
    width: 700px;
}

article {
    position: relative;
    overflow: hidden;
    border: 1px solid #808080;
    margin: 0 auto;
    width: 700px;
    height: 490px;
}

section {
    float: left;
    margin: 15px;
    padding: 20px 10px 10px 10px;
    border: 1px solid #808080;
    width: 190px;
    height: 100px;
}

section img {
    float: left;
    width: 110px;
    height: 65px;
}

section h2 {
    float: left;
    font-size: 1.1em;
    margin: -30px 0 0 10px;
    padding: 0 5px 0 5px;
    background: #fff;
}

section ul, section li {
    display: inline;
    list-style-type: none;
    padding: 3px;
}

section li {
    float: left;
}

aside {
    position: absolute;
    top: 130px;
    right: -30px;
    bottom: 10px;
    width: 300px;
    text-align: center;
}

aside div {
    margin-bottom: 5px;
}

aside input[type=range] {
    width: 160px !important;
}