@font-face
{
    font-family: Edwardian-Script-ITC;
    src: url('../fonts/itcedscr.ttf');
}

p
{ 
    font-family: Consolas;
    color: #0094ff;
}

p::first-line { font-weight: bold; }

p::first-letter
{
    font-family: Edwardian-Script-ITC;
    font-size: 3em;
}
