.PanelNotificationBox {
	font-weight: bold;
	border: 1px solid;
	margin: 10px auto;
	padding: 23px 10px 23px 65px;
	background-repeat: no-repeat;
	background-position: 8px center;
	width: 500px;
	box-shadow: 2px 2px 3px #3A4F63;
    border-radius: 4px;
}

.PanelSuccess {
	color: #3F7A10;
	background-color: #EDFCED;
	background-image: url('../Images/success-icon.png');
}

.PanelInfo {
	color: #3F6AC0;
	background-color: #EFF8FD;
	background-image: url('../Images/info-icon.png');
}

.PanelWarning {
	color: #8C6211;
	background-color: #FAF9C9;
	background-image: url('../Images/warning-icon.png');
}

.PanelError {
	color: #B8000C;
	background-color: #FDE5DE;
	background-image: url('../Images/error-icon.png');
}
