<div class="panel-footer navbar-fixed-bottom" ng-cloak>
    <footer class="text-center" ng-cloak>
        <small>
            <a href="https://github.com/flextry" target="_blank">{{ author }}</a>
            &#169; 2014,
            <a href="http://telerikacademy.com/" target="_blank">{{ copyright }}</a>
        </small>
        <br />
        <small>
            <a href="https://github.com/flextry/Tic-Tac-Toe-RestAPI" target="_blank">Open Source Project at GitHub</a>
        </small>
    </footer>
</div>