html,
body,
div,
form,
fieldset,
input,
button,
label,
legend {
  margin: 0;
  padding: 0;
}
body {
  /*@default-font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;*/

  color: #fff;
  /*@from-bg-color:#FFC175;
	@to-bg-color:#FFE066;*/
	font-size:18px;

}
body #wrapper {
  width: 960px;
  font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
}
body #wrapper form {
  width: 380px;
  background: #444444;
  background: -moz-linear-gradient(top, #ebff5b 0%, #444444 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebff5b), color-stop(100%, #444444));
  background: -webkit-linear-gradient(top, #ebff5b 0%, #444444 100%);
  background: -o-linear-gradient(top, #ebff5b 0%, #444444 100%);
  background: -ms-linear-gradient(top, #ebff5b 0%, #444444 100%);
  background: linear-gradient(to bottom, #ebff5b 0%, #444444 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebff5b', endColorstr='#444444', GradientType=0);
  margin-top: 25px;
  margin-left: 25px;
  border: 1px solid #444;
  border-radius: 15px;
  padding: 15px;
  text-align: right;
}
body #wrapper form fieldset {
  border: 3px solid #555;
  padding: 5px 15px;
  border-radius: 5px;
}
body #wrapper form fieldset legend {
  margin-right: 25px;
  font-size: 1.3em;
  font-style: italic;
  padding: 0 15px;
  font-weight: bold;
}
body #wrapper form fieldset input {
  padding: 5px 15px;
  border: 2px solid #444;
  border-radius: 5px;
  background: #444444;
  background: -moz-linear-gradient(top, #ebff5b 0%, #444444 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebff5b), color-stop(100%, #444444));
  background: -webkit-linear-gradient(top, #ebff5b 0%, #444444 100%);
  background: -o-linear-gradient(top, #ebff5b 0%, #444444 100%);
  background: -ms-linear-gradient(top, #ebff5b 0%, #444444 100%);
  background: linear-gradient(to bottom, #ebff5b 0%, #444444 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebff5b', endColorstr='#444444', GradientType=0);
  color: #fff;
}
body #wrapper form fieldset input[type=number] {
  width: 35px;
  padding: 5px;
}
body #wrapper form input[type=radio] {
  display: none;
  color: black;
}
body #wrapper form input[type=radio]:checked + label {
  font-weight: bold;
  font-size: 1.1em;
}
body #wrapper form label {
  margin-top: 10px;
  display: inline-block;
}
body #wrapper form button,
body #wrapper form input[type=reset] {
  font-size: 1.2em;
  padding: 5px 15px;
  display: inline-block;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  background: #444444;
  background: -moz-linear-gradient(top, #e5ff28 0%, #444444 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5ff28), color-stop(100%, #444444));
  background: -webkit-linear-gradient(top, #e5ff28 0%, #444444 100%);
  background: -o-linear-gradient(top, #e5ff28 0%, #444444 100%);
  background: -ms-linear-gradient(top, #e5ff28 0%, #444444 100%);
  background: linear-gradient(to bottom, #e5ff28 0%, #444444 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ff28', endColorstr='#444444', GradientType=0);
  border-bottom: 1px solid black;
  color: #333;
}
body #wrapper form button:hover,
body #wrapper form input[type=reset]:hover {
  background: #f1ff8e;
}
