<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISubstringService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SubstringModule.Services/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubstringService"
        contract="ServiceSubstringModule.ISubstringService" name="BasicHttpBinding_ISubstringService" />
    </client>
  </system.serviceModel>
</configuration>