<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookStore.MongoDb.ConnectionStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BookStore.MongoDb.ConnectionStrings>
            <setting name="MongoDbConnectionString" serializeAs="String">
                <value>mongodb://localhost</value>
            </setting>
            <setting name="MongoDbDefaultDatabase" serializeAs="String">
                <value>searchquerieshistory</value>
            </setting>
        </BookStore.MongoDb.ConnectionStrings>
    </userSettings>
</configuration>