body {
  font-size: 14px;
  font-family: 'Corbel';
}
#book-items-container,
#book-details-container {
  float: left;
  margin-top: 25px;
  margin-left: 10px;
  padding: 0;
}
#book-items-container {
  width: 30%;
}
#book-details-container {
  width: 65%;
}
.books-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.books-list .book-item {
  margin: 0;
  padding: 5px 15px;
  border: 1px solid #888;
  border-top: none;
  background-color: #add8e6;
}
.books-list .book-item:first-of-type {
  border-top: 1px solid #888;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.books-list .book-item:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.books-list .book-item:hover {
  background-color: #8ec9dd;
}
.books-list .book-item a {
  color: #000;
  text-decoration: none;
}
.books-list .book-item a .book-title {
  display: block;
}
.books-list .book-item a .author {
  float: right;
}
.books-list .book-item a:after {
  clear: both;
  display: block;
  content: '';
  height: 0;
}
.book-details {
  background-color: #add8e6;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 15px;
}
.book-details p {
  margin: 0;
}
.book-details .book-title {
  font-size: 1.7em;
  margin-top: 0;
  margin-bottom: 10px;
}
.book-details .isbn {
  font-style: italic;
  font-family: 'Consolas';
}
.book-details .isbn:before {
  content: '(ISBN: ';
}
.book-details .isbn:after {
  content: ')';
}
.book-details .publish-date {
  font-style: italic;
  font-family: 'Consolas';
  font-weight: 700;
}
.book-details .author {
  font-size: 1.1em;
}
.book-details .description {
  margin-top: 10px;
  text-align: justify;
}
