html,
body,
ul,
li,
a,
div,
p,
span {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
  color: #0094ff;
}
body #wrapper {
  width: 960px;
}
body #wrapper .msg-bar {
  list-style-type: none;
  position: relative;
  margin-top: 200px;
  margin-left: 50px;
  display: inline-block;
  width: 560px;
}
body #wrapper .msg-bar > li {
  display: inline-block;
  /*border: 1px solid black;*/

  padding-top: 5px;
}
body #wrapper .msg-bar > li .msg-bar-btn {
  display: inline-block;
  color: #0094ff;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid black;
  background: #11ffd2;
  background: -moz-linear-gradient(top, #aaffef 20%, #11ffd2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #aaffef), color-stop(100%, #11ffd2));
  background: -webkit-linear-gradient(top, #aaffef 20%, #11ffd2 100%);
  background: -o-linear-gradient(top, #aaffef 20%, #11ffd2 100%);
  background: -ms-linear-gradient(top, #aaffef 20%, #11ffd2 100%);
  background: linear-gradient(to bottom, #aaffef 20%, #11ffd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaffef', endColorstr='#11ffd2', GradientType=0);
}
body #wrapper .msg-bar > li .msg-bar-content {
  background: #AAFFEF;
  display: none;
  position: absolute;
  bottom: 35px;
  width: 430px;
  left: 0;
  border: 1px solid black;
  border-bottom: none;
  padding: 5px 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
body #wrapper .msg-bar > li .msg-bar-content ul {
  list-style-type: none;
  text-align: right;
}
body #wrapper .msg-bar > li .msg-bar-content ul li {
  display: block;
  margin-top: 5px;
  zoom: 1;
}
body #wrapper .msg-bar > li .msg-bar-content ul li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
body #wrapper .msg-bar > li .msg-bar-content ul li span {
  display: block;
  text-align: right;
  border-bottom: 1px solid black;
  margin-left: 100px;
  padding: 5px 15px;
}
body #wrapper .msg-bar > li .msg-bar-content ul li span.user {
  border: 1px solid black;
  border-radius: 100px;
  float: left;
  padding-left: 25px;
  background-position: 5px center;
  background-repeat: no-repeat;
  margin: 0;
}
body #wrapper .msg-bar > li .msg-bar-content ul li:last-of-type span:not(.user) {
  border: none;
}
body #wrapper .msg-bar > li .msg-bar-content ul li.me-item span.user {
  background-image: url(imgs/me.png);
  background-repeat: no-repeat;
}
body #wrapper .msg-bar > li .msg-bar-content ul li.other-item span.user {
  background-image: url(imgs/male.png);
}
body #wrapper .msg-bar > li:hover {
  background: #11ffd2;
  background: -moz-linear-gradient(top, #aaffef 20%, #11ffd2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #aaffef), color-stop(100%, #11ffd2));
  background: -webkit-linear-gradient(top, #aaffef 20%, #11ffd2 100%);
  background: -o-linear-gradient(top, #aaffef 20%, #11ffd2 100%);
  background: -ms-linear-gradient(top, #aaffef 20%, #11ffd2 100%);
  background: linear-gradient(to bottom, #aaffef 20%, #11ffd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaffef', endColorstr='#11ffd2', GradientType=0);
}
body #wrapper .msg-bar > li:hover .msg-bar-btn {
  border-top: none;
  background: #00ddb3;
}
body #wrapper .msg-bar > li:hover .msg-bar-content {
  display: block;
}
